<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Primary Meta Tags -->
    <meta name="title" content="Raja Simon — I write blog posts about code and life">
    <meta name="description" content="These are the topics I will write in my blog posts. Side Projects, Python Web Application Development, Car Travelling, Special Care">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rajasimon.io/">
    <meta property="og:title" content="Raja Simon — I write blog posts about code and life">
    <meta property="og:description" content="These are the topics I will write in my blog posts. Side Projects, Python Web Application Development, Car Travelling, Special Care">
    <meta property="og:image" content="/images/rajasimon-social-cover.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://rajasimon.io/">
    <meta property="twitter:title" content="Raja Simon — I write blog posts about code and life">
    <meta property="twitter:description" content="These are the topics I will write in my blog posts. Side Projects, Python Web Application Development, Car Travelling, Special Care">
    <meta property="twitter:image" content="/images/android-chrome-192x192.png?123456789">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157573143-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157573143-2');
    </script>
    {{ if eq .Site.IsServer true}}
      <script data-ad-client="ca-pub-7474542029238984" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{ end }}
  </head>
  <body>
    {{ partial "navbar" }}
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
  </body>
</html>