{{ define "main" }}
{{ partial "hero" }}
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-full-mobile is-four-fifths-tablet is-three-fifths-desktop is-three-quarters-widescreen">
        <a href="{{ .RelPermalink }}">
          <h2 class="title">{{ .Title }}</h2>
        </a>
        <p>{{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}</p>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}