{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-full-mobile is-four-fifths-tablet is-three-fifths-desktop is-three-quarters-widescreen">
        <a href="/"><h1 class="title is-size-4">Raja Simon Blog</h1></a>
        <br>
        <a href="{{ .RelPermalink }}">
          <h1 class="title">{{ .Title }}</h1>
        </a>
        <p>{{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}</p>
        <div class="content">
          {{ .Content }}
        </div>
        <style>
          iframe form {
            width: none;
            background-color: #fafafa;
          }
        </style>
        <iframe src="https://cdn.forms-content.sg-form.com/74754796-4fd9-11ea-ab9f-daa06979c2c7" width="100%" height="500px"/>

      </div>
    </div>
  </div>
</section>
{{ end }}