{{ define "main" }}
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-multiline is-centered">
        {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
        {{ range $paginator.Pages }}
        <div class="column is-12-mobile is-11-tablet is-10-desktop is-9-widescreen is-8-fullhd">
          <a href="{{ .RelPermalink }}">
            <article class="media custom-media" style="cursor: pointer;">
              <div class="media-content" style="overflow: hidden">
                <h1 class="title is-size-4-mobile is-size-4-tablet is-size-3-desktop is-size-3-widescreen">
                  {{ .Title }}
                </h1>
                <p
                  class="subtitle is-size-5-mobile is-size-5-tablet is-size-4-desktop is-size-4-widescreen has-text-justified">
                  {{ .Description }}
                </p>
                <div class="is-hidden-desktop">
                  <div class="columns is-mobile">
                    <div class="column">
                      <p class="subtitle">{{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}</p>
                    </div>
                    <div class="column">
                      {{ partial "dateandtag" . }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-right is-hidden-touch">
                <p class="subtitle">{{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}</p>
                {{ partial "dateandtag" . }}
              </div>
            </article>
          </a>
        </div>
        {{ end }}
  
        {{ if gt $paginator.TotalPages 1 }}
        <div class="column is-12-mobile is-11-tablet is-10-desktop is-9-widescreen is-8-fullhd">
          <nav class="pagination" role="navigation" aria-label="pagination">
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}" class="pagination-previous" title="This is the first page">Previous</a>
            {{ end }}
            {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}" class="pagination-next">Next page</a>
            {{ end }}
            <ul class="pagination-list">
              {{ range $paginator.Pagers }}
              <li>
                <a href="{{ .URL }}" class="pagination-link {{ if eq . $paginator }}is-current{{ end }}"
                  aria-label="Page 1" aria-current="page">{{ .PageNumber }}</a>
              </li>
              {{ end }}
            </ul>
          </nav>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}