<section class="section" style="padding-bottom: 1.5rem;">
  <div class="container">
    <div class="columns is-mobile is-multiline is-centered">
      <div class="column is-12-mobile is-10-tablet is-10-desktop is-8-widescreen is-6-fullhd">
        <article class="media">
          <div class="media-left">
            <a href="/">
              <figure class="image is-48x48">
                <img src="/images/profile-picture.jpeg" alt="" class="is-rounded">
              </figure>
            </a>
          </div>
          <div class="media-content">
            <p>
              Hi, I'm Raja Simon, a software developer. I write about Python web application development. Mostly Django and Flask and other web frameworks tutorials.
              <a href="https://twitter.com/rajasimon">Twitter</a> /
              <a href="https://github.com/rajasimon">Github</a> /
              <a href="https://stackoverflow.com/users/3762142/raja-simon">StackOverflow</a>
            </p>
          </div>
        </article>
      </div>
    </div> 
  </div>
</section>