<section class="section" style="padding-bottom: 0px;">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-full-mobile is-four-fifths-tablet is-three-fifths-desktop is-three-quarters-widescreen">
        <a href="/"><h1 class="title is-size-1 has-text-black-bis">Raja Simon Blog</h1></a>
        <p class="subtitle is-size-4 has-text-grey">
          I am starting my own internet business to pay my bills.
        </p>
      </div>
    </div>
  </div>
</section>