<footer class="footer" style="padding: 2rem 1.5rem;">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column">
        <p>© 2020, Raja Simon</p>
      </div>
      <div class="column">
        <div class="is-pulled-right">
          <a href="https://twitter.com/rajasimon">
            <span class="icon is-medium has-text-link">
              <i class="fab fa-lg fa-twitter"></i>
            </span>
          </a>
          <a href="https://github.com/rajasimon">
            <span class="icon is-medium has-text-dark">
              <i class="fab fa-lg fa-github"></i>
            </span>
          </a>
          <a href="https://stackoverflow.com/users/3762142/raja-simon">
            <span class="icon is-medium has-text-danger">
              <i class="fab fa-lg fa-stack-overflow"></i>
            </span>
          </a>
        </div>
        <!-- <div class="buttons is-pulled-right">
          <a href="/" class="button is-text">Latest Posts</a>
          <a class="button is-text" href="https://twitter.com/rajasimon">Twitter</a>
        </div> -->
      </div>
    </div>
  </div>
</footer>