<footer class="footer" style="padding: 2rem 1.5rem;">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column">
        <p>© 2020, Raja Simon</p>
      </div>
      <div class="column">
        <div class="is-pulled-right">
          <div class="buttons">
            <a href="https://twitter.com/rajasimon" class="button is-light">
              Twitter
            </a>
            <a href="https://github.com/rajasimon" class="button is-light">
              Github
            </a>
            <a href="https://stackoverflow.com/users/3762142/raja-simon" class="button is-light">
              StackOverflow
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>