<footer class="footer" style="padding: 2rem 1.5rem; background-color: #030217;">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-flex-tablet">
        <p class="mt-1 has-text-white">© 2020, Raja Simon</p>
        <a href="/privacy" class="button is-black is-text has-text-white">Privacy</a>
      </div>
      <div class="column">
        <div class="is-pulled-right">
          <div class="buttons">
            <a href="https://twitter.com/rajasimon" class="button is-black">
              Twitter
            </a>
            <a href="https://github.com/rajasimon" class="button is-black">
              Github
            </a>
            <a href="https://stackoverflow.com/users/3762142/raja-simon" class="button is-black">
              StackOverflow
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>