<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-12-mobile is-10-tablet is-10-desktop is-10-widescreen is-8-fullhd">
        <h1 class="title" style="margin-bottom: 0px;">{{ .Title }}</h1>
        <br>
        <div class="subtitle">{{ .Description }}</div>
        <div class="content">
          {{ .Content }}
        </div>
        <form action="https://rajasimon.us4.list-manage.com/subscribe/post?u=1ce550914d19dbc49427aa383&amp;id=904ca614c7" id="mc-embedded-subscribe-form">
          <div class="field">
            <div class="control">
              <input type="email" name="EMAIL" class="input" id="mce-EMAIL" placeholder="your@email.com" required>
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <button class="button is-dark" name="subscribe">Subscribe</button>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>
    </div>
  </div>
</section>